Для файла .env

BACK_URL= Уникальный адрес.
TOKEN_BOT= Токен бота.

DB_HOST= Хост базы данных.
DB_PORT= Порт базы данных.
DB_NAME= Наименование базы данных.
DB_USER= Логин базы данных.
DB_PASS= Пароль базы данных.

Для файла db.env

POSTGRES_USER=Логин базы данных
POSTGRES_PASSWORD=Пароль базы данных.
POSTGRES_DB=Наименование базы данных.